@import "caret";

$bg_colour: rgb(42, 63, 81);
$bg_colour_highlight: rgb(49, 74, 95);
$secondary_bg_colour: rgb(34, 52, 67);
$fg_colour: white;
$fg_colour_insensitive: rgb(138, 138, 138);
$transparent: rgba(0, 0, 0, 0);

.cmd-line {
    width: 100%;
    height: 64px;
    display: flex;
    font-family: 'Inconsolata', monospace;
    background-color: $bg_colour;
}

.cmd-line:hover {
    background-color: $bg_colour_highlight;
}

.cmd-line .wrapper {
    flex: 1;
    display: inline-flex;
}

.cmd-line h5,
.cmd-line input {
    font: inherit;
    line-height: 64px;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.cmd-line h5 {
    color: $fg_colour_insensitive;
}

.cmd-line input {
    flex-grow: 1;
    outline: none;
    margin-inline-start: 8px;
    color: $transparent;
    background-color: $transparent;
    text-shadow: 0px 0px 0px $fg_colour;
}

#cmd-output-cont {
    width: 100%;
    display: flex;
    background-color: $secondary_bg_colour;
}

#cmd-output {
    flex: 1;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    background-color: $secondary_bg_colour;
    overflow-y: scroll;
    list-style: none;
    max-height: 200px;
}

#cmd-output.hidden {
    display: none;
}

#cmd-output > div {
    color: $fg_colour;
    display: list-item;
    position: relative;
    padding: 4px;
    padding-left: 150px;
    min-height: 25px;
    text-align: start;
}

#cmd-output > div:before {
    content: $github_username + ".$";
    padding: 4px 20px 4px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: $fg_colour_insensitive;
}

#cmd-output > div h5 {
    padding-top: 4px;
    margin: 0px;
}
